{% extends "card_layout.html" %}
{% block body %}

{% if form_error %}
<span class="errors">{{ form_error }}</span>
{% endif %}

<form action="{{ url_for('card') }}" method=post>
{{ form.hidden_tag() }}
{{ form.pinterest_name.label }}<br/>
{{ form.pinterest_name(size=48) }}<br/>
{% if form.pinterest_name.errors %}
    <ul class="errors">{% for error in form.pinterest_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{{ form.address_name.label }}<br/>
{{ form.address_name(size=48) }}<br/>
{% if form.address_name.errors %}
    <ul class="errors">{% for error in form.address_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{{ form.address_email.label }}<br/>
{{ form.address_email(size=48) }}<br/>
{% if form.address_email.errors %}
    <ul class="errors">{% for error in form.address_email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{{ form.address_line1.label }}<br/>
{{ form.address_line1(size=48) }}<br/>
{% if form.address_line1.errors %}
    <ul class="errors">{% for error in form.address_line1.errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{{ form.address_line2.label }}<br/>
{{ form.address_line2(size=48) }}<br/>
{% if form.address_line2.errors %}
    <ul class="errors">{% for error in form.address_line2.errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{{ form.address_city.label }}<br/>
{{ form.address_city(size=48) }}<br/>
{% if form.address_city.errors %}
    <ul class="errors">{% for error in form.address_city.errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{{ form.address_state.label }}<br/>
{{ form.address_state(size=48) }}<br/>
{% if form.address_state.errors %}
    <ul class="errors">{% for error in form.address_state.errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{{ form.address_zip.label }}<br/>
{{ form.address_zip(size=48) }}<br/>
{% if form.address_zip.errors %}
    <ul class="errors">{% for error in form.address_zip.errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

<br/><input type="submit" value="Send Postcard" id="podcard_submit_button">
</form>
{% endblock %}