<!doctype hmtl>
<title>PinPost</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<div class=page>
	<h1>PinPost</h1>
	<div class=metanav>
	</div>
	{% for message in get_flashed_messages() %}
	  <div class=flash>{{ message }} </div>
	{% endfor %}
	{% block body %}{% endblock %}  
</div>
